body {
    background: #8c52ff;
    font-family: 'Tahoma';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

#weather-container {
    background-color: rgba(255,255,255, 0.3);
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba (0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: solid 1px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 

h1 {
    color:#fff;
    margin: 8px 0;
}

h2, label, p {
    color:#fff;
    margin: 8px 0;
}

input {
    width:calc (100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px white;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    background-color: #debff4;
    color: white;
    padding:10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #8b48d7;
}

.today-weather-result-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; 
    width: 100%;
    overflow-x: auto;
    margin: 15px 0;
}


.today-name-par {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
   
} 

.today-icon-img {
    width: 100px;
    height: 100px;
} 

#five-days-forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.five-days-title {
    font-size: 18px;
    font-weight: bold;
}

.daily-info-boxes-container {
    display: flex;
    margin: 10px 0;
    overflow: scroll;
    overflow: hidden;
}

.daily-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    padding: 0 10px;

}
.daily-info {
    width: 180px;
}

.date {
    color:#fff;
    font-weight: bold;
    font-size: 16px;
}

.max-temp, .min-temp {
    color:#fff;
    font-size: 14px;
}

.daily-icon { 
    width: 70%;
    max-width: 80px; /* To prevent it from becoming too large */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px;
}


 
/* Media Queries for Tablets */
@media (max-width: 768px) {
}
 

/* Media Queries for Phones 480px */
@media (max-width: 480px) {
    .daily-info-boxes-container {
        display: flex;
        margin: 10px 0;
        overflow: scroll;
    }
}

/* Media Queries for Phones 375px */

@media (max-width: 375px) {
}
   

/* Media Queries for Phones 320px */

@media (max-width: 320px) {
}